body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Plus Jakarta Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: underline; 
  } 
  a:active { 
    text-decoration: none; 
  }

/* ~~ Top Navigation Bar ~~ */

.navigation-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
    padding-top: 20px;
    background-color: white;
    width: 100%;
    text-align: center;
  }
  
  .navigation-container img {
    float: left;
    height: 90%;
    max-width: 50%;
    object-fit: contain;
    min-width: 10%;
  }
  
  .navigation-container ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .navigation-container li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-container li a {
    font-size: 16px;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }

  @media screen and (max-width: 950px) {
    .navigation-container li{
      visibility: hidden;
    }
  }

  /* ~~ Hero ~~ */
  
  .hero-container {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(9, 67, 83, 1) 0%,
      rgba(21, 149, 185, 1) 100%
    );
  }

  .hero-container img {
    height: 100%;
    top: 0;
    left: 0;
    width: 35vw;
  }

  .hero-container h2 {
    font-size: 3.5vw;
    text-wrap: wrap;
    margin: 0;
  }

  .text-container {
    padding: 15px;
    color: white;
    box-sizing: border-box;
    width: 65vw;
    top: 0;
    text-align: left;
    height: fit-content;
  }

  @media screen and (max-width: 950px) {
    .hero-container{
      height: 25vw;
    }
    .hero-container h2 {
        font-size: 4.5vw;
      }
  }

/* ~~ ConceptMap ~~ */

  .conceptmap-container {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
  }

  .conceptmap-container img{
    height: 100%;
    top: 0;
    left: 0;
    width: 80vw;
  }

  @media screen and (max-width: 950px) {
    .conceptmap-container img{
        height: 100%;
        top: 0;
        left: 0;
        width: 90vw;
    }
  }

/* ~~ InfoBlocks ~~ */

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

.info-container .block {
    width: 400px;
    color: #106f89;
    background-color: #FDF8F2;
    padding: 30px;
    border-radius: 40px;
    box-sizing: border-box;
    height: auto;
  }
  
  .info-container .block p {
    font-size: 1.3rem;
    margin: 0;
  }
  
  .info-container .block h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 0 5px;
  }
  
  .subtitle {
    width: 100%;
    height: auto;
    text-align: center;
    color: #106f89;
    background-color: #FDF8F2;
    border-radius: 40px;
    font-size: 3rem;
    font-weight: 500;
    padding: 25px 0;
    margin-top: 50px;
  }

  /* ~~ Hero2 ~~ */

  .hero2 {
    background: linear-gradient(
      90deg,
      #DE9844 0%,
      #785225 100%
    );
  }
  
  .hero2 p{
    font-size: 2.3vw;
    text-wrap: wrap;
    margin: 0;
    text-align: right;
  }

  @media screen and (max-width: 950px) {
    .hero2 p{
        font-size: 2.7vw;
        text-wrap: wrap;
        margin: 0;
        text-align: right;
      }
  }

  /* ~~ ConceptMap2 ~~ */

  .conceptmap2 {
    background: #FDF8F2;
  }

  /* ~~ Team  ~~ */

  .team-container {
  background: #C1E2E7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.team-container h3 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 50px;
  color: #137793;
  font-weight: 400;
}

.team-container .team-member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-container .team-member .card {
  flex: 1 0 calc((100% / 6) - 30px);
  height: 300px;
  min-width: 240px;
  max-width: 240px;
  background: #106F89;
  border-radius: 40px;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;

  padding: 27px;
  box-sizing: border-box;
}

.team-container .team-member .card h4 {
  text-align: center;
  margin: 20px 0 2px 0;
  font-size: 16px;
  font-weight: 500;
}

.team-container .team-member .card p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

/* ~~ Collage  ~~ */

.collage-container {
    background: #FDF8F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
  }

  .collage-container img{
    height: 33%;
    top: 0;
    left: 0;
    width: 80vw;
  }

/* ~~ Twitter  ~~ */

  .twitter{
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .twitter img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .twitter-box {
    width: 850px;
    height: 600px;
    background: white;
    position: relative;
    z-index: 1;
    overflow: auto;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
  }

  /* ~~ Carousel  ~~ */

  .carousel {
    padding: 50px 0;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(193,226,231);
    background: linear-gradient(0deg, rgba(193,226,231,1) 20%, rgba(246,225,199,1) 20%);
  }

  .carousel img{
    height: 10%;
  }

  /* ~~ Hero3  ~~ */

  .hero3 {
    height: 400px;
  }
  .hero3 a{
    display: flex;
    align-items:center;
    gap: 5px;
    color: white;
    font-size: 1vw;
    margin-top: 5px;

  }
  .hero3 a img{
    height: 35px;
    width: 35px;
  }

  .hero3 .text-container{
    margin-left: 5%;
  }

  @media screen and (max-width: 750px) {
    .hero3 a{
      font-size: 8px;
    }
    .hero3 a img{
      height: 15px;
      width: 15px;
    }
    .hero3 {
      height: 250px;
    }
  }

  /* ~~ Sponsors  ~~ */

  .subtext {
    background-color: #C1E2E7;
    text-align: center;
    width: 100%;
    color: #137793;
    padding: 30px 0;
    font-size: 2vw;
  }

  @media screen and (max-width: 800px) {
    .subtext {
      font-size: 3vw;
    }
  }


  /* ~~ Sponsors Images ~~ */

  .sponsors {
    width: 100%;
    height: auto;
  }

  /* ~~ Footer ~~ */

  .footer {
    display: flex;
    position: relative;
    min-height: 300px;
    background: #C1E2E7;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer .fish {
    right: 0;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .fish img {
    height: 100%;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    text-align: left;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 250px;
  }
  
  label {
    color: #106F89;
  }
  
  input {
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
  }
  
  input:focus {
    outline: none;
  }
  
  .subscribe-btn {
    background: peru;
    border-radius: 50px;
    border: none; 
    width: fit-content;
    color: white;
    padding: 10px 30px;
  }

  @media screen and (max-width: 800px) {
    .fish img{
      visibility: hidden;
      width: 0px;
    }
  }

  @media screen and (max-width: 516px) {
    .links{
      text-align: center;
      margin-top: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 250px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  /* ~~ Disclaimer ~~ */
  .disclaimer {
    display: flex;
    position: relative;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
  }

  .disclaimer h3{
    margin-right: 10%;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-left: 10%;
  }
  
  ::placeholder {
    text-align: center; 
  }

  @media screen and (max-width: 1050px) {
    .disclaimer h3{
      text-align: center;
    }
  
    .social-icons {
      margin-left: 0;
    }
  }

/* ~~ Custom Scrollbar ~~ */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
